.colCard1 {
    width: 60%;
    object-fit: cover;
    background-color: #c14e07;
}

.colCard2 {
    width: 35%;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top: 10px;

}

.rowLike {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
}

.colLike{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px
}

.rowDescr {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    background-color: #2754a3;
    color: white;
    margin: 2px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    border-radius: 12px;
    overflow: hidden;
}

body {
    background-color: #f0e4ce;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.col {
    width: calc(90% / 2);

    box-sizing: border-box;
}

.nomeC{
    display: flex;
}

.indirizzo {
    display: flex;
    text-align: start;
    margin-bottom: 10px;
    
}

.descr {
    display: flex;
    text-align: start;
    gap: 5px
}

.descr2 {
    
}


/* scritta info  */

.infoButton {
    background-color: #c14e07;
    color: white;
    border-radius: 10px;
    height: 18px;
    padding: 1%;


}

.info {
    animation: movimento 2s ease-in-out infinite;
}

@keyframes movimento {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

/* searchbar zone */
.searchBar {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 3px;
    border: none;
}

.buttonSearch {
    border-radius: 10px;
    background-color: #c14e07;
    color: white;
    padding: 3px;
    border: none;
}

/* mediaQuery */

@media (max-width: 1250px) {

    .col {
        width: 100%;
        box-sizing: border-box;
    }

    .indirizzo {
        margin-bottom: 10px;
    }

}

@media (max-width: 840px) {

    .card {
        height: auto;
    }

    .colCard2 {
        width: 100%;
        padding-right: 10px;
    }

    .colCard1 {
        width: 100%;
    }
}