.card{
    background-color: lightcyan;
    padding: 5px;
    margin: 2px;
    width: 200px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
.col {
    width: calc(90% / 3);
    box-sizing: border-box;
    padding: 5px;
}