.rowForm {
    margin: 2%;
    width: 100%;
    display: flex;
   
}

.colForm {
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    margin: 2%;
    text-align: start;
}

.selectLayout {
    background-color: #c14e07;
    color: white;
    border-radius: 10px;
    padding: 3px;
    border: none;
}

.error {
    color: red;
    border-radius: 10px;
}
.buttonInvio{
    background-color:  #c14e07 ;
    color: white;
    border-radius: 10px;
    padding: 1%;
    width: 30%;
    margin-left: calc(100% / 3);
}

.title{
    color: #c14e07;
    margin-top: 2%;
}

/* MEDIA QUERY */

@media (max-width: 700px) {

    .colForm {
        width: 90%;
        margin: 2%;
    }
    .rowForm {
        margin: 2%;
        width: 100%;
        display: block;
        
    }

}
