.footer{
    margin-top: 335px; 
    background-color: #2754a3;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

p{
    color:#f0e4ce;
    font-size: 0.9rem;
}