.footer{
    margin-top: 335px; 
    background-color: #2754a3;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p{
    color:#f0e4ce;
    font-size: 1.3rem;
}