* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
  text-align: center;
}

input {
  border: none;
  border-radius: 10px;
  padding: 1%;
}

textarea {
  border: none;
  border-radius: 10px;
}

/* colori di base usati */
:root {
  --blue: #113c84;
  --arancione: #c14e07;
  --sfondo: #f0e4ce;
  --altroblu: #2754a3
}