* {
    margin: 0;
    padding: 0;
  }
  
  ul li,
  a {
    text-decoration: none;
    color: black;
  }
  img{
    max-width: 100%;
  }

  .container{
    margin: 0 auto;
    max-width: 1200px;
     width: 80%;
    text-align: center;
}



/* colori di base usati */
:root{
  blue: #113c84;
arancione: #c14e07;  
sfondo: #f0e4ce;
}


