* {
    margin: 0;
    padding: 0;
  }
  
  ul li,
  a {
    text-decoration: none;
    color: black;
  }
  img{
    max-width: 100%;
  }

  .container{
    margin: 0 auto;
    max-width: 1200px;
     width: 80%;
    height: calc(100dvh - 195px);
    text-align: center;
}
